*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.father{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}