.navbar {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;  
}
.phone-navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.navbar-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.category-btn {
    width: 200px;
    height: 40px;
    background-color: #1A00FF99;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.search-input {
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #D9D9D9;
    padding: 10px 20px;
    outline: none;
}
.search-input-2{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #D9D9D9;
    padding: 10px 20px;
    outline: none;
    display: none;
}

.icon-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.icon-title {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 1024px){
    .icon-title{
        display: none;
    }
}

@media (max-width: 900px){
    .navbar{
        gap: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-head, .icon, .category-btn{
        display: none;
    }
    .phone-navbar{
        display: flex;
    }
    .search-input-2{
        display: block;
        margin: 0 auto;
    }
}